<a href="https://colab.research.google.com/github/bonareri/Financial-Statement-Analysis/blob/main/Financial_Statement_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Financial Analysis

In [109]:
import yfinance as yf
import pandas as pd
import numpy as np

In [1]:
# Define the stock symbol (e.g., Apple)
ticker = "AAPL"

# Download financial data
stock = yf.Ticker(ticker)

### Get Financial Statements

####  Income Statement

In [2]:
income_statement = stock.financials
print(income_statement)

                                                        2024-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.241
Normalized EBITDA                                   134661000000.0
Net Income From Continuing Operation Net Minori...   93736000000.0
Reconciled Depreciation                              11445000000.0
Reconciled Cost Of Revenue                          210352000000.0
EBITDA                                              134661000000.0
EBIT                                                123216000000.0
Net Interest Income                                            NaN
Interest Expense                                               NaN
Interest Income                                                NaN
Normalized Income                                    93736000000.0
Net Income From Continuing And Discontinued Ope...   93736000000.0
Total Expenses                                      267819000000.0
Total Operating Income As Reported                  123216000000.0
Diluted Average Shares                               15408095000.0
Basic Average Shares                                 15343783000.0
Diluted EPS                                                   6.08
Basic EPS                                                     6.11
Diluted NI Availto Com Stockholders                  93736000000.0
Net Income Common Stockholders                       93736000000.0
Net Income                                           93736000000.0
Net Income Including Noncontrolling Interests        93736000000.0
Net Income Continuous Operations                     93736000000.0
Tax Provision                                        29749000000.0
Pretax Income                                       123485000000.0
Other Income Expense                                   269000000.0
Other Non Operating Income Expenses                    269000000.0
Net Non Operating Interest Income Expense                      NaN
Interest Expense Non Operating                                 NaN
Interest Income Non Operating                                  NaN
Operating Income                                    123216000000.0
Operating Expense                                    57467000000.0
Research And Development                             31370000000.0
Selling General And Administration                   26097000000.0
Gross Profit                                        180683000000.0
Cost Of Revenue                                     210352000000.0
Total Revenue                                       391035000000.0
Operating Revenue                                   391035000000.0

                                                        2023-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.147
Normalized EBITDA                                   125820000000.0
Net Income From Continuing Operation Net Minori...   96995000000.0
Reconciled Depreciation                              11519000000.0
Reconciled Cost Of Revenue                          214137000000.0
EBITDA                                              125820000000.0
EBIT                                                114301000000.0
Net Interest Income                                   -183000000.0
Interest Expense                                      3933000000.0
Interest Income                                       3750000000.0
Normalized Income                                    96995000000.0
Net Income From Continuing And Discontinued Ope...   96995000000.0
Total Expenses                                      268984000000.0
Total Operating Income As Reported                  114301000000.0
Diluted Average Shares                               15812547000.0
Basic Average Shares                                 15744231000.0
Diluted EPS                                                   6.13
Basic EPS                                                     6.16
Diluted NI Availto Com Stockholders                  96995000000.0
Net Income Common Stockholders                       96995000000.0
Net Income                                           96995000000.0
Net Income Including Noncontrolling Interests        96995000000.0
Net Income Continuous Operations                     96995000000.0
Tax Provision                                        16741000000.0
Pretax Income                                       113736000000.0
Other Income Expense                                  -565000000.0
Other Non Operating Income Expenses                   -565000000.0
Net Non Operating Interest Income Expense             -183000000.0
Interest Expense Non Operating                        3933000000.0
Interest Income Non Operating                         3750000000.0
Operating Income                                    114301000000.0
Operating Expense                                    54847000000.0
Research And Development                             29915000000.0
Selling General And Administration                   24932000000.0
Gross Profit                                        169148000000.0
Cost Of Revenue                                     214137000000.0
Total Revenue                                       383285000000.0
Operating Revenue                                   383285000000.0

                                                        2022-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.162
Normalized EBITDA                                   130541000000.0
Net Income From Continuing Operation Net Minori...   99803000000.0
Reconciled Depreciation                              11104000000.0
Reconciled Cost Of Revenue                          223546000000.0
EBITDA                                              130541000000.0
EBIT                                                119437000000.0
Net Interest Income                                   -106000000.0
Interest Expense                                      2931000000.0
Interest Income                                       2825000000.0
Normalized Income                                    99803000000.0
Net Income From Continuing And Discontinued Ope...   99803000000.0
Total Expenses                                      274891000000.0
Total Operating Income As Reported                  119437000000.0
Diluted Average Shares                               16325819000.0
Basic Average Shares                                 16215963000.0
Diluted EPS                                                   6.11
Basic EPS                                                     6.15
Diluted NI Availto Com Stockholders                  99803000000.0
Net Income Common Stockholders                       99803000000.0
Net Income                                           99803000000.0
Net Income Including Noncontrolling Interests        99803000000.0
Net Income Continuous Operations                     99803000000.0
Tax Provision                                        19300000000.0
Pretax Income                                       119103000000.0
Other Income Expense                                  -334000000.0
Other Non Operating Income Expenses                   -334000000.0
Net Non Operating Interest Income Expense             -106000000.0
Interest Expense Non Operating                        2931000000.0
Interest Income Non Operating                         2825000000.0
Operating Income                                    119437000000.0
Operating Expense                                    51345000000.0
Research And Development                             26251000000.0
Selling General And Administration                   25094000000.0
Gross Profit                                        170782000000.0
Cost Of Revenue                                     223546000000.0
Total Revenue                                       394328000000.0
Operating Revenue                                   394328000000.0

                                                        2021-09-30  \
Tax Effect Of Unusual Items                                    0.0
Tax Rate For Calcs                                           0.133
Normalized EBITDA                                   123136000000.0
Net Income From Continuing Operation Net Minori...   94680000000.0
Reconciled Depreciation                              11284000000.0
Reconciled Cost Of Revenue                          212981000000.0
EBITDA                                              123136000000.0
EBIT                                                111852000000.0
Net Interest Income                                    198000000.0
Interest Expense                                      2645000000.0
Interest Income                                       2843000000.0
Normalized Income                                    94680000000.0
Net Income From Continuing And Discontinued Ope...   94680000000.0
Total Expenses                                      256868000000.0
Total Operating Income As Reported                  108949000000.0
Diluted Average Shares                               16864919000.0
Basic Average Shares                                 16701272000.0
Diluted EPS                                                   5.61
Basic EPS                                                     5.67
Diluted NI Availto Com Stockholders                  94680000000.0
Net Income Common Stockholders                       94680000000.0
Net Income                                           94680000000.0
Net Income Including Noncontrolling Interests        94680000000.0
Net Income Continuous Operations                     94680000000.0
Tax Provision                                        14527000000.0
Pretax Income                                       109207000000.0
Other Income Expense                                    60000000.0
Other Non Operating Income Expenses                     60000000.0
Net Non Operating Interest Income Expense              198000000.0
Interest Expense Non Operating                        2645000000.0
Interest Income Non Operating                         2843000000.0
Operating Income                                    108949000000.0
Operating Expense                                    43887000000.0
Research And Development                             21914000000.0
Selling General And Administration                   21973000000.0
Gross Profit                                        152836000000.0
Cost Of Revenue                                     212981000000.0
Total Revenue                                       365817000000.0
Operating Revenue                                   365817000000.0

                                                      2020-09-30
Tax Effect Of Unusual Items                                  NaN
Tax Rate For Calcs                                           NaN
Normalized EBITDA                                            NaN
Net Income From Continuing Operation Net Minori...           NaN
Reconciled Depreciation                                      NaN
Reconciled Cost Of Revenue                                   NaN
EBITDA                                                       NaN
EBIT                                                         NaN
Net Interest Income                                  890000000.0
Interest Expense                                    2873000000.0
Interest Income                                     3763000000.0
Normalized Income                                            NaN
Net Income From Continuing And Discontinued Ope...           NaN
Total Expenses                                               NaN
Total Operating Income As Reported                           NaN
Diluted Average Shares                                       NaN
Basic Average Shares                                         NaN
Diluted EPS                                                  NaN
Basic EPS                                                    NaN
Diluted NI Availto Com Stockholders                          NaN
Net Income Common Stockholders                               NaN
Net Income                                                   NaN
Net Income Including Noncontrolling Interests                NaN
Net Income Continuous Operations                             NaN
Tax Provision                                                NaN
Pretax Income                                                NaN
Other Income Expense                                         NaN
Other Non Operating Income Expenses                          NaN
Net Non Operating Interest Income Expense            890000000.0
Interest Expense Non Operating                      2873000000.0
Interest Income Non Operating                       3763000000.0
Operating Income                                             NaN
Operating Expense                                            NaN
Research And Development                                     NaN
Selling General And Administration                           NaN
Gross Profit                                                 NaN
Cost Of Revenue                                              NaN
Total Revenue                                                NaN
Operating Revenue                                            NaN

####  Balance Sheet

In [3]:
balance_sheet = stock.balance_sheet
print(balance_sheet)

                                                      2024-09-30  \
Treasury Shares Number                                       NaN
Ordinary Shares Number                             15116786000.0
Share Issued                                       15116786000.0
Net Debt                                           76686000000.0
Total Debt                                        106629000000.0
...                                                          ...
Cash Cash Equivalents And Short Term Investments   65171000000.0
Other Short Term Investments                       35228000000.0
Cash And Cash Equivalents                          29943000000.0
Cash Equivalents                                    2744000000.0
Cash Financial                                     27199000000.0

                                                      2023-09-30  \
Treasury Shares Number                                       0.0
Ordinary Shares Number                             15550061000.0
Share Issued                                       15550061000.0
Net Debt                                           81123000000.0
Total Debt                                        111088000000.0
...                                                          ...
Cash Cash Equivalents And Short Term Investments   61555000000.0
Other Short Term Investments                       31590000000.0
Cash And Cash Equivalents                          29965000000.0
Cash Equivalents                                    1606000000.0
Cash Financial                                     28359000000.0

                                                      2022-09-30  \
Treasury Shares Number                                       NaN
Ordinary Shares Number                             15943425000.0
Share Issued                                       15943425000.0
Net Debt                                           96423000000.0
Total Debt                                        132480000000.0
...                                                          ...
Cash Cash Equivalents And Short Term Investments   48304000000.0
Other Short Term Investments                       24658000000.0
Cash And Cash Equivalents                          23646000000.0
Cash Equivalents                                    5100000000.0
Cash Financial                                     18546000000.0

                                                      2021-09-30 2020-09-30
Treasury Shares Number                                       NaN        NaN
Ordinary Shares Number                             16426786000.0        NaN
Share Issued                                       16426786000.0        NaN
Net Debt                                           89779000000.0        NaN
Total Debt                                        136522000000.0        NaN
...                                                          ...        ...
Cash Cash Equivalents And Short Term Investments   62639000000.0        NaN
Other Short Term Investments                       27699000000.0        NaN
Cash And Cash Equivalents                          34940000000.0        NaN
Cash Equivalents                                   17635000000.0        NaN
Cash Financial                                     17305000000.0        NaN

[68 rows x 5 columns]

#### Cash Flow Statement

In [4]:
cash_flow = stock.cashflow
print(cash_flow)

                                                    2024-09-30  \
Free Cash Flow                                  108807000000.0
Repurchase Of Capital Stock                     -94949000000.0
Repayment Of Debt                                -9958000000.0
Issuance Of Debt                                           0.0
Issuance Of Capital Stock                                  NaN
Capital Expenditure                              -9447000000.0
Interest Paid Supplemental Data                            NaN
Income Tax Paid Supplemental Data                26102000000.0
End Cash Position                                29943000000.0
Beginning Cash Position                          30737000000.0
Changes In Cash                                   -794000000.0
Financing Cash Flow                            -121983000000.0
Cash Flow From Continuing Financing Activities -121983000000.0
Net Other Financing Charges                      -5802000000.0
Cash Dividends Paid                             -15234000000.0
Common Stock Dividend Paid                      -15234000000.0
Net Common Stock Issuance                       -94949000000.0
Common Stock Payments                           -94949000000.0
Common Stock Issuance                                      NaN
Net Issuance Payments Of Debt                    -5998000000.0
Net Short Term Debt Issuance                      3960000000.0
Net Long Term Debt Issuance                      -9958000000.0
Long Term Debt Payments                          -9958000000.0
Long Term Debt Issuance                                    0.0
Investing Cash Flow                               2935000000.0
Cash Flow From Continuing Investing Activities    2935000000.0
Net Other Investing Changes                      -1308000000.0
Net Investment Purchase And Sale                 13690000000.0
Sale Of Investment                               62346000000.0
Purchase Of Investment                          -48656000000.0
Net Business Purchase And Sale                             NaN
Purchase Of Business                                       NaN
Net PPE Purchase And Sale                        -9447000000.0
Purchase Of PPE                                  -9447000000.0
Operating Cash Flow                             118254000000.0
Cash Flow From Continuing Operating Activities  118254000000.0
Change In Working Capital                         3651000000.0
Change In Other Working Capital                            NaN
Change In Other Current Liabilities              15552000000.0
Change In Other Current Assets                  -11731000000.0
Change In Payables And Accrued Expense            6020000000.0
Change In Payable                                 6020000000.0
Change In Account Payable                         6020000000.0
Change In Inventory                              -1046000000.0
Change In Receivables                            -5144000000.0
Changes In Account Receivables                   -3788000000.0
Other Non Cash Items                             -2266000000.0
Stock Based Compensation                         11688000000.0
Deferred Tax                                               NaN
Deferred Income Tax                                        NaN
Depreciation Amortization Depletion              11445000000.0
Depreciation And Amortization                    11445000000.0
Net Income From Continuing Operations            93736000000.0

                                                    2023-09-30  \
Free Cash Flow                                   99584000000.0
Repurchase Of Capital Stock                     -77550000000.0
Repayment Of Debt                               -11151000000.0
Issuance Of Debt                                  5228000000.0
Issuance Of Capital Stock                                  NaN
Capital Expenditure                             -10959000000.0
Interest Paid Supplemental Data                   3803000000.0
Income Tax Paid Supplemental Data                18679000000.0
End Cash Position                                30737000000.0
Beginning Cash Position                          24977000000.0
Changes In Cash                                   5760000000.0
Financing Cash Flow                            -108488000000.0
Cash Flow From Continuing Financing Activities -108488000000.0
Net Other Financing Charges                      -6012000000.0
Cash Dividends Paid                             -15025000000.0
Common Stock Dividend Paid                      -15025000000.0
Net Common Stock Issuance                       -77550000000.0
Common Stock Payments                           -77550000000.0
Common Stock Issuance                                      NaN
Net Issuance Payments Of Debt                    -9901000000.0
Net Short Term Debt Issuance                     -3978000000.0
Net Long Term Debt Issuance                      -5923000000.0
Long Term Debt Payments                         -11151000000.0
Long Term Debt Issuance                           5228000000.0
Investing Cash Flow                               3705000000.0
Cash Flow From Continuing Investing Activities    3705000000.0
Net Other Investing Changes                      -1337000000.0
Net Investment Purchase And Sale                 16001000000.0
Sale Of Investment                               45514000000.0
Purchase Of Investment                          -29513000000.0
Net Business Purchase And Sale                             NaN
Purchase Of Business                                       NaN
Net PPE Purchase And Sale                       -10959000000.0
Purchase Of PPE                                 -10959000000.0
Operating Cash Flow                             110543000000.0
Cash Flow From Continuing Operating Activities  110543000000.0
Change In Working Capital                        -6577000000.0
Change In Other Working Capital                            NaN
Change In Other Current Liabilities               3031000000.0
Change In Other Current Assets                   -5684000000.0
Change In Payables And Accrued Expense           -1889000000.0
Change In Payable                                -1889000000.0
Change In Account Payable                        -1889000000.0
Change In Inventory                              -1618000000.0
Change In Receivables                             -417000000.0
Changes In Account Receivables                   -1688000000.0
Other Non Cash Items                             -2227000000.0
Stock Based Compensation                         10833000000.0
Deferred Tax                                               NaN
Deferred Income Tax                                        NaN
Depreciation Amortization Depletion              11519000000.0
Depreciation And Amortization                    11519000000.0
Net Income From Continuing Operations            96995000000.0

                                                    2022-09-30  \
Free Cash Flow                                  111443000000.0
Repurchase Of Capital Stock                     -89402000000.0
Repayment Of Debt                                -9543000000.0
Issuance Of Debt                                  5465000000.0
Issuance Of Capital Stock                                  NaN
Capital Expenditure                             -10708000000.0
Interest Paid Supplemental Data                   2865000000.0
Income Tax Paid Supplemental Data                19573000000.0
End Cash Position                                24977000000.0
Beginning Cash Position                          35929000000.0
Changes In Cash                                 -10952000000.0
Financing Cash Flow                            -110749000000.0
Cash Flow From Continuing Financing Activities -110749000000.0
Net Other Financing Charges                      -6383000000.0
Cash Dividends Paid                             -14841000000.0
Common Stock Dividend Paid                      -14841000000.0
Net Common Stock Issuance                       -89402000000.0
Common Stock Payments                           -89402000000.0
Common Stock Issuance                                      NaN
Net Issuance Payments Of Debt                     -123000000.0
Net Short Term Debt Issuance                      3955000000.0
Net Long Term Debt Issuance                      -4078000000.0
Long Term Debt Payments                          -9543000000.0
Long Term Debt Issuance                           5465000000.0
Investing Cash Flow                             -22354000000.0
Cash Flow From Continuing Investing Activities  -22354000000.0
Net Other Investing Changes                      -2086000000.0
Net Investment Purchase And Sale                 -9560000000.0
Sale Of Investment                               67363000000.0
Purchase Of Investment                          -76923000000.0
Net Business Purchase And Sale                    -306000000.0
Purchase Of Business                              -306000000.0
Net PPE Purchase And Sale                       -10708000000.0
Purchase Of PPE                                 -10708000000.0
Operating Cash Flow                             122151000000.0
Cash Flow From Continuing Operating Activities  122151000000.0
Change In Working Capital                         1200000000.0
Change In Other Working Capital                    478000000.0
Change In Other Current Liabilities               6110000000.0
Change In Other Current Assets                   -6499000000.0
Change In Payables And Accrued Expense            9448000000.0
Change In Payable                                 9448000000.0
Change In Account Payable                         9448000000.0
Change In Inventory                               1484000000.0
Change In Receivables                            -9343000000.0
Changes In Account Receivables                   -1823000000.0
Other Non Cash Items                              1006000000.0
Stock Based Compensation                          9038000000.0
Deferred Tax                                       895000000.0
Deferred Income Tax                                895000000.0
Depreciation Amortization Depletion              11104000000.0
Depreciation And Amortization                    11104000000.0
Net Income From Continuing Operations            99803000000.0

                                                    2021-09-30    2020-09-30
Free Cash Flow                                   92953000000.0           NaN
Repurchase Of Capital Stock                     -85971000000.0           NaN
Repayment Of Debt                                -8750000000.0           NaN
Issuance Of Debt                                 20393000000.0           NaN
Issuance Of Capital Stock                         1105000000.0   880000000.0
Capital Expenditure                             -11085000000.0           NaN
Interest Paid Supplemental Data                   2687000000.0  3002000000.0
Income Tax Paid Supplemental Data                25385000000.0           NaN
End Cash Position                                35929000000.0           NaN
Beginning Cash Position                          39789000000.0           NaN
Changes In Cash                                  -3860000000.0           NaN
Financing Cash Flow                             -93353000000.0           NaN
Cash Flow From Continuing Financing Activities  -93353000000.0           NaN
Net Other Financing Charges                      -5580000000.0           NaN
Cash Dividends Paid                             -14467000000.0           NaN
Common Stock Dividend Paid                      -14467000000.0           NaN
Net Common Stock Issuance                       -85971000000.0           NaN
Common Stock Payments                           -85971000000.0           NaN
Common Stock Issuance                             1105000000.0   880000000.0
Net Issuance Payments Of Debt                    12665000000.0           NaN
Net Short Term Debt Issuance                      1022000000.0           NaN
Net Long Term Debt Issuance                      11643000000.0           NaN
Long Term Debt Payments                          -8750000000.0           NaN
Long Term Debt Issuance                          20393000000.0           NaN
Investing Cash Flow                             -14545000000.0           NaN
Cash Flow From Continuing Investing Activities  -14545000000.0           NaN
Net Other Investing Changes                       -385000000.0           NaN
Net Investment Purchase And Sale                 -3075000000.0           NaN
Sale Of Investment                              106483000000.0           NaN
Purchase Of Investment                         -109558000000.0           NaN
Net Business Purchase And Sale                     -33000000.0 -1524000000.0
Purchase Of Business                               -33000000.0 -1524000000.0
Net PPE Purchase And Sale                       -11085000000.0           NaN
Purchase Of PPE                                 -11085000000.0           NaN
Operating Cash Flow                             104038000000.0           NaN
Cash Flow From Continuing Operating Activities  104038000000.0           NaN
Change In Working Capital                        -4911000000.0           NaN
Change In Other Working Capital                   1676000000.0  2081000000.0
Change In Other Current Liabilities               7475000000.0           NaN
Change In Other Current Assets                   -8042000000.0           NaN
Change In Payables And Accrued Expense           12326000000.0           NaN
Change In Payable                                12326000000.0           NaN
Change In Account Payable                        12326000000.0           NaN
Change In Inventory                              -2642000000.0           NaN
Change In Receivables                           -14028000000.0           NaN
Changes In Account Receivables                  -10125000000.0           NaN
Other Non Cash Items                             -4921000000.0           NaN
Stock Based Compensation                          7906000000.0           NaN
Deferred Tax                                     -4774000000.0  -215000000.0
Deferred Income Tax                              -4774000000.0  -215000000.0
Depreciation Amortization Depletion              11284000000.0           NaN
Depreciation And Amortization                    11284000000.0           NaN
Net Income From Continuing Operations            94680000000.0           NaN

### Key Financial Ratios

#### Market Capitalization, P/E Ratio, and Dividend Yield

In [5]:
market_cap = stock.info['marketCap']
pe_ratio = stock.info['trailingPE']
dividend_yield = stock.info['dividendYield']

print(f"Market Cap: {market_cap}")
print(f"P/E Ratio: {pe_ratio}")
print(f"Dividend Yield: {dividend_yield}")

Market Cap: 3591333740544
P/E Ratio: 37.88748
Dividend Yield: 0.42

### Export Data to Excel for Analysis

In [6]:
# Save financial statements to Excel
with pd.ExcelWriter("financial_statements.xlsx") as writer:
    income_statement.to_excel(writer, sheet_name="Income Statement")
    balance_sheet.to_excel(writer, sheet_name="Balance Sheet")
    cash_flow.to_excel(writer, sheet_name="Cash Flow")

### Load Data

In [72]:
# Load the Excel file and read the required sheets
sheets = pd.read_excel("financial_statements.xlsx", sheet_name=['Income Statement', 'Balance Sheet', 'Cash Flow'])

# Display sheet names
print(xls.sheet_names)

['Income Statement', 'Balance Sheet', 'Cash Flow']

In [73]:
# Extract individual sheets
income_df = sheets['Income Statement']
balance_df = sheets['Balance Sheet']
cash_flow_df = sheets['Cash Flow']

In [77]:
income_df.head()    # View first 5 rows of Income Statement

,Unnamed: 0,2024-09-30 00:00:00,2023-09-30 00:00:00,2022-09-30 00:00:00,2021-09-30 00:00:00,2020-09-30 00:00:00
0,Tax Effect Of Unusual Items,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1,Tax Rate For Calcs,2.410000e-01,1.470000e-01,1.620000e-01,1.330000e-01,NaN
2,Normalized EBITDA,1.346610e+11,1.258200e+11,1.305410e+11,1.231360e+11,NaN
3,Net Income From Continuing Operation Net Minor...,9.373600e+10,9.699500e+10,9.980300e+10,9.468000e+10,NaN
4,Reconciled Depreciation,1.144500e+10,1.151900e+10,1.110400e+10,1.128400e+10,NaN

In [78]:
balance_df.head()     # View first 5 rows of Balance Sheet

,Unnamed: 0,2024-09-30 00:00:00,2023-09-30 00:00:00,2022-09-30 00:00:00,2021-09-30 00:00:00,2020-09-30 00:00:00
0,Treasury Shares Number,NaN,0.000000e+00,NaN,NaN,NaN
1,Ordinary Shares Number,1.511679e+10,1.555006e+10,1.594342e+10,1.642679e+10,NaN
2,Share Issued,1.511679e+10,1.555006e+10,1.594342e+10,1.642679e+10,NaN
3,Net Debt,7.668600e+10,8.112300e+10,9.642300e+10,8.977900e+10,NaN
4,Total Debt,1.066290e+11,1.110880e+11,1.324800e+11,1.365220e+11,NaN

In [79]:
cash_flow_df.head()   # View first 5 rows of Cash Flow

,Unnamed: 0,2024-09-30 00:00:00,2023-09-30 00:00:00,2022-09-30 00:00:00,2021-09-30 00:00:00,2020-09-30 00:00:00
0,Free Cash Flow,1.088070e+11,9.958400e+10,1.114430e+11,92953000000,NaN
1,Repurchase Of Capital Stock,-9.494900e+10,-7.755000e+10,-8.940200e+10,-85971000000,NaN
2,Repayment Of Debt,-9.958000e+09,-1.115100e+10,-9.543000e+09,-8750000000,NaN
3,Issuance Of Debt,0.000000e+00,5.228000e+09,5.465000e+09,20393000000,NaN
4,Issuance Of Capital Stock,NaN,NaN,NaN,1105000000,880000000.0

In [80]:
print(income_df.info())
print(balance_df.info())
print(cash_flow_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           39 non-null     object
 1   2024-09-30 00:00:00  33 non-null     float64
 2   2023-09-30 00:00:00  39 non-null     float64
 3   2022-09-30 00:00:00  39 non-null     float64
 4   2021-09-30 00:00:00  39 non-null     float64
 5   2020-09-30 00:00:00  6 non-null      float64
dtypes: float64(5), object(1)
memory usage: 2.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           68 non-null     object
 1   2024-09-30 00:00:00  62 non-null     float64
 2   2023-09-30 00:00:00  67 non-null     float64
 3   2022-09-30 00:00:00  67 non-null     float64
 4   2021-09-30 00:00:00  63 non-null     float64
 5   2020-09-30 00:00:00  5 non-null      float64
dtypes: float64(5), object(1)
memory usage: 3.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           53 non-null     object
 1   2024-09-30 00:00:00  45 non-null     float64
 2   2023-09-30 00:00:00  46 non-null     float64
 3   2022-09-30 00:00:00  51 non-null     float64
 4   2021-09-30 00:00:00  53 non-null     int64
 5   2020-09-30 00:00:00  8 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.6+ KB
None

### Key Observations from:
- Column Naming Issues: The first column (Unnamed: 0) should be renamed to "Metric" for better readability.
- Date Formatting: The column names are datetime objects. They should be formatted as years (e.g., 2024, 2023, etc.).

Missing Values:
- The 2020 column has very few non-null values across all sheets. It might not be useful and could be removed.
Other columns (e.g., 2024-09-30 00:00:00) have some missing values.

## Data Cleaning

In [85]:
# Rename first column if it exists
for df in [income_df, balance_df, cash_flow_df]:
    if df.columns[0].startswith('Unnamed'):  # Ensures we only rename if it's unnamed
        df.rename(columns={df.columns[0]: 'Metric'}, inplace=True)

# Convert datetime columns to year format
for df in [income_df, balance_df, cash_flow_df]:
    df.columns = [str(pd.to_datetime(col).year) if '00:00:00' in str(col) else col for col in df.columns]

# Drop the 2020 column if it has too many missing values
for df in [income_df, balance_df, cash_flow_df]:
    if '2020' in df.columns and df['2020'].count() < len(df) * 0.2:  # Less than 20% filled
        df.drop(columns=['2020'], inplace=True)

# Check the updated column names
print(income_df.head())
print(balance_df.head())
print(cash_flow_df.head())

                                              Metric          2024  \
0                        Tax Effect Of Unusual Items  0.000000e+00
1                                 Tax Rate For Calcs  2.410000e-01
2                                  Normalized EBITDA  1.346610e+11
3  Net Income From Continuing Operation Net Minor...  9.373600e+10
4                            Reconciled Depreciation  1.144500e+10

           2023          2022          2021
0  0.000000e+00  0.000000e+00  0.000000e+00
1  1.470000e-01  1.620000e-01  1.330000e-01
2  1.258200e+11  1.305410e+11  1.231360e+11
3  9.699500e+10  9.980300e+10  9.468000e+10
4  1.151900e+10  1.110400e+10  1.128400e+10
                   Metric          2024          2023          2022  \
0  Treasury Shares Number           NaN  0.000000e+00           NaN
1  Ordinary Shares Number  1.511679e+10  1.555006e+10  1.594342e+10
2            Share Issued  1.511679e+10  1.555006e+10  1.594342e+10
3                Net Debt  7.668600e+10  8.112300e+10  9.642300e+10
4              Total Debt  1.066290e+11  1.110880e+11  1.324800e+11

           2021
0           NaN
1  1.642679e+10
2  1.642679e+10
3  8.977900e+10
4  1.365220e+11
                        Metric          2024          2023          2022  \
0               Free Cash Flow  1.088070e+11  9.958400e+10  1.114430e+11
1  Repurchase Of Capital Stock -9.494900e+10 -7.755000e+10 -8.940200e+10
2            Repayment Of Debt -9.958000e+09 -1.115100e+10 -9.543000e+09
3             Issuance Of Debt  0.000000e+00  5.228000e+09  5.465000e+09
4    Issuance Of Capital Stock           NaN           NaN           NaN

          2021
0  92953000000
1 -85971000000
2  -8750000000
3  20393000000
4   1105000000

In [86]:
print(income_df.info())
print(balance_df.info())
print(cash_flow_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metric  39 non-null     object
 1   2024    33 non-null     float64
 2   2023    39 non-null     float64
 3   2022    39 non-null     float64
 4   2021    39 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metric  68 non-null     object
 1   2024    62 non-null     float64
 2   2023    67 non-null     float64
 3   2022    67 non-null     float64
 4   2021    63 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metric  53 non-null     object
 1   2024    45 non-null     float64
 2   2023    46 non-null     float64
 3   2022    51 non-null     float64
 4   2021    53 non-null     int64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.2+ KB
None

In [87]:
# Display rows with missing values for each sheet
print("Rows with missing values in Income Statement:")
print(income_df[income_df.isnull().any(axis=1)])

print("\nRows with missing values in Balance Sheet:")
print(balance_df[balance_df.isnull().any(axis=1)])

print("\nRows with missing values in Cash Flow:")
print(cash_flow_df[cash_flow_df.isnull().any(axis=1)])

Rows with missing values in Income Statement:
                                       Metric  2024          2023  \
8                         Net Interest Income   NaN -1.830000e+08
9                            Interest Expense   NaN  3.933000e+09
10                            Interest Income   NaN  3.750000e+09
28  Net Non Operating Interest Income Expense   NaN -1.830000e+08
29             Interest Expense Non Operating   NaN  3.933000e+09
30              Interest Income Non Operating   NaN  3.750000e+09

            2022          2021
8  -1.060000e+08  1.980000e+08
9   2.931000e+09  2.645000e+09
10  2.825000e+09  2.843000e+09
28 -1.060000e+08  1.980000e+08
29  2.931000e+09  2.645000e+09
30  2.825000e+09  2.843000e+09

Rows with missing values in Balance Sheet:
                                Metric          2024          2023  \
0               Treasury Shares Number           NaN  0.000000e+00
9            Capital Lease Obligations           NaN  1.284200e+10
24  Long Term Capital Lease Obligation           NaN  1.126700e+10
31    Current Capital Lease Obligation           NaN  1.575000e+09
37                   Total Tax Payable  2.660100e+10  8.819000e+09
38                  Income Tax Payable  2.660100e+10  8.819000e+09
43         Non Current Deferred Assets  1.949900e+10  1.785200e+10
44   Non Current Deferred Taxes Assets  1.949900e+10  1.785200e+10
46                   Other Investments           NaN           NaN
53                    Other Properties           NaN  1.066100e+10

            2022          2021
0            NaN           NaN
9   1.241100e+10  1.180300e+10
24  1.074800e+10  1.027500e+10
31  1.663000e+09  1.528000e+09
37  6.552000e+09           NaN
38  6.552000e+09           NaN
43  1.537500e+10           NaN
44  1.537500e+10           NaN
46  1.208050e+11  1.278770e+11
53  1.041700e+10  1.008700e+10

Rows with missing values in Cash Flow:
                             Metric  2024          2023          2022  \
4         Issuance Of Capital Stock   NaN           NaN           NaN
6   Interest Paid Supplemental Data   NaN  3.803000e+09  2.865000e+09
18            Common Stock Issuance   NaN           NaN           NaN
30   Net Business Purchase And Sale   NaN           NaN -3.060000e+08
31             Purchase Of Business   NaN           NaN -3.060000e+08
37  Change In Other Working Capital   NaN           NaN  4.780000e+08
48                     Deferred Tax   NaN           NaN  8.950000e+08
49              Deferred Income Tax   NaN           NaN  8.950000e+08

          2021
4   1105000000
6   2687000000
18  1105000000
30   -33000000
31   -33000000
37  1676000000
48 -4774000000
49 -4774000000

### Handling Missing Values in Financial Statements

#### 1. Income Statement

- The missing values in 2024 exist while past years have data.
- To maintain consistency, I will use forward fill (ffill) for missing values in 2024, assuming continuity.
- If a forward fill is not applicable, I will use mean imputation based on previous years.

In [89]:
income_df['2024'] = income_df['2024'].ffill()

In [90]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metric  39 non-null     object
 1   2024    39 non-null     float64
 2   2023    39 non-null     float64
 3   2022    39 non-null     float64
 4   2021    39 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.7+ KB

#### 2. Balance Sheet

- Some columns (e.g., Treasury Shares Number, Other Investments) have missing values across multiple years. These will be dropped if irrelevant.
- Missing values for Capital Lease Obligations & Tax Payables (2024) will be forward filled from 2023.
- Non-Current Deferred Assets & Taxes are missing in 2021 but available in later years. These will be backward filled to ensure continuity.

In [96]:
print(balance_df.columns)

Index(['Metric', '2024', '2023', '2022', '2021'], dtype='object')

In [97]:
print(balance_df['Metric'].unique())

['Treasury Shares Number' 'Ordinary Shares Number' 'Share Issued'
 'Net Debt' 'Total Debt' 'Tangible Book Value' 'Invested Capital'
 'Working Capital' 'Net Tangible Assets' 'Capital Lease Obligations'
 'Common Stock Equity' 'Total Capitalization'
 'Total Equity Gross Minority Interest' 'Stockholders Equity'
 'Gains Losses Not Affecting Retained Earnings' 'Other Equity Adjustments'
 'Retained Earnings' 'Capital Stock' 'Common Stock'
 'Total Liabilities Net Minority Interest'
 'Total Non Current Liabilities Net Minority Interest'
 'Other Non Current Liabilities' 'Tradeand Other Payables Non Current'
 'Long Term Debt And Capital Lease Obligation'
 'Long Term Capital Lease Obligation' 'Long Term Debt'
 'Current Liabilities' 'Other Current Liabilities'
 'Current Deferred Liabilities' 'Current Deferred Revenue'
 'Current Debt And Capital Lease Obligation'
 'Current Capital Lease Obligation' 'Current Debt'
 'Other Current Borrowings' 'Commercial Paper'
 'Payables And Accrued Expenses' 'Payables' 'Total Tax Payable'
 'Income Tax Payable' 'Accounts Payable' 'Total Assets'
 'Total Non Current Assets' 'Other Non Current Assets'
 'Non Current Deferred Assets' 'Non Current Deferred Taxes Assets'
 'Investments And Advances' 'Other Investments'
 'Investmentin Financial Assets' 'Available For Sale Securities' 'Net PPE'
 'Accumulated Depreciation' 'Gross PPE' 'Leases' 'Other Properties'
 'Machinery Furniture Equipment' 'Land And Improvements' 'Properties'
 'Current Assets' 'Other Current Assets' 'Inventory' 'Receivables'
 'Other Receivables' 'Accounts Receivable'
 'Cash Cash Equivalents And Short Term Investments'
 'Other Short Term Investments' 'Cash And Cash Equivalents'
 'Cash Equivalents' 'Cash Financial']

In [98]:
# Define rows to forward-fill for 2024
rows_to_ffill = ['Capital Lease Obligations', 'Total Tax Payable', 'Income Tax Payable']

for row in rows_to_ffill:
    balance_df.loc[balance_df['Metric'] == row, '2024'] = (
        balance_df.loc[balance_df['Metric'] == row, '2024'].ffill(axis=0)
    )

In [99]:
balance_df = balance_df[~balance_df['Metric'].isin(['Treasury Shares Number'])]

In [100]:
balance_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 1 to 67
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metric  67 non-null     object
 1   2024    62 non-null     float64
 2   2023    66 non-null     float64
 3   2022    67 non-null     float64
 4   2021    63 non-null     float64
dtypes: float64(4), object(1)
memory usage: 3.1+ KB

In [101]:
missing_rows = balance_df[balance_df.isnull().any(axis=1)]
print(missing_rows)

                                Metric          2024          2023  \
9            Capital Lease Obligations           NaN  1.284200e+10
24  Long Term Capital Lease Obligation           NaN  1.126700e+10
31    Current Capital Lease Obligation           NaN  1.575000e+09
37                   Total Tax Payable  2.660100e+10  8.819000e+09
38                  Income Tax Payable  2.660100e+10  8.819000e+09
43         Non Current Deferred Assets  1.949900e+10  1.785200e+10
44   Non Current Deferred Taxes Assets  1.949900e+10  1.785200e+10
46                   Other Investments           NaN           NaN
53                    Other Properties           NaN  1.066100e+10

            2022          2021
9   1.241100e+10  1.180300e+10
24  1.074800e+10  1.027500e+10
31  1.663000e+09  1.528000e+09
37  6.552000e+09           NaN
38  6.552000e+09           NaN
43  1.537500e+10           NaN
44  1.537500e+10           NaN
46  1.208050e+11  1.278770e+11
53  1.041700e+10  1.008700e+10

In [102]:
# Forward Fill for missing 2024 values using 2023
columns_to_ffill = ['Capital Lease Obligations', 'Long Term Capital Lease Obligation',
                    'Current Capital Lease Obligation', 'Total Tax Payable', 'Income Tax Payable']

balance_df.loc[balance_df['Metric'].isin(columns_to_ffill), '2024'] = (
    balance_df.loc[balance_df['Metric'].isin(columns_to_ffill), '2024']
    .fillna(balance_df['2023'])
)

# Backward Fill for Non Current Deferred Assets & Taxes
columns_to_bfill = ['Non Current Deferred Assets', 'Non Current Deferred Taxes Assets']
balance_df.loc[balance_df['Metric'].isin(columns_to_bfill), '2021'] = (
    balance_df.loc[balance_df['Metric'].isin(columns_to_bfill), '2021']
    .fillna(balance_df['2022'])
)

# Drop "Other Investments" if it's mostly missing
balance_df = balance_df[balance_df['Metric'] != 'Other Investments']

# Print cleaned data
print(balance_df.loc[balance_df.isnull().any(axis=1)])  # Check if any missing values remain

                Metric          2024          2023          2022          2021
37   Total Tax Payable  2.660100e+10  8.819000e+09  6.552000e+09           NaN
38  Income Tax Payable  2.660100e+10  8.819000e+09  6.552000e+09           NaN
53    Other Properties           NaN  1.066100e+10  1.041700e+10  1.008700e+10

In [103]:
# Backfill missing 2021 values for Tax Payables
tax_columns = ['Total Tax Payable', 'Income Tax Payable']
balance_df.loc[balance_df['Metric'].isin(tax_columns), '2021'] = (
    balance_df.loc[balance_df['Metric'].isin(tax_columns), '2021']
    .fillna(balance_df['2022'])
)

# Forward fill for Other Properties in 2024
balance_df.loc[balance_df['Metric'] == 'Other Properties', '2024'] = (
    balance_df.loc[balance_df['Metric'] == 'Other Properties', '2024']
    .fillna(balance_df['2023'])
)

# Check if missing values remain
print(balance_df.loc[balance_df.isnull().any(axis=1)])

Empty DataFrame
Columns: [Metric, 2024, 2023, 2022, 2021]
Index: []

In [104]:
balance_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 1 to 67
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metric  66 non-null     object
 1   2024    66 non-null     float64
 2   2023    66 non-null     float64
 3   2022    66 non-null     float64
 4   2021    66 non-null     float64
dtypes: float64(4), object(1)
memory usage: 5.1+ KB

#### 3. Cash Flow Statement

- Some missing values (e.g., Stock Issuance, Business Purchases, Deferred Taxes) are highly variable and do not occur every year.
- For these, I will fill missing values with 0, assuming no transaction happened.
- For 2024-specific missing values, I will use forward fill from 2023 where trends exist.

In [106]:
# Display rows with any missing values
missing_values_df = cash_flow_df[cash_flow_df.isnull().any(axis=1)]
print(missing_values_df)

                             Metric  2024          2023          2022  \
4         Issuance Of Capital Stock   NaN           NaN           NaN
6   Interest Paid Supplemental Data   NaN  3.803000e+09  2.865000e+09
18            Common Stock Issuance   NaN           NaN           NaN
30   Net Business Purchase And Sale   NaN           NaN -3.060000e+08
31             Purchase Of Business   NaN           NaN -3.060000e+08
37  Change In Other Working Capital   NaN           NaN  4.780000e+08
48                     Deferred Tax   NaN           NaN  8.950000e+08
49              Deferred Income Tax   NaN           NaN  8.950000e+08

          2021
4   1105000000
6   2687000000
18  1105000000
30   -33000000
31   -33000000
37  1676000000
48 -4774000000
49 -4774000000

In [110]:
# Fill missing values with 0 where transactions do not occur every year
cash_flow_df.fillna(0, inplace=True)

# Forward fill only for the 2024 column where trends exist
cash_flow_df['2024'] = cash_flow_df['2024'].replace(0, np.nan).ffill()

In [113]:
cash_flow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metric  53 non-null     object
 1   2024    53 non-null     float64
 2   2023    53 non-null     float64
 3   2022    53 non-null     float64
 4   2021    53 non-null     int64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.2+ KB

In [114]:
#save cleaned data
with pd.ExcelWriter("cleaned_financial_statements.xlsx") as writer:
    income_df.to_excel(writer, sheet_name="Income Statement")
    balance_df.to_excel(writer, sheet_name="Balance Sheet")
    cash_flow_df.to_excel(writer, sheet_name="Cash Flow")